.post {
  width: 100%;
  color: white;
  margin-bottom: 4px;
  padding: 5px;
  border: 1px solid gray;
  background-color: #243447;
}

.commentContainer {
  /* border: 1px solid; */
  width: 100%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentContainer > span {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: white;
}

.comment {
  color: white;
  width: 100%;
  margin: 3px 2px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: #243447;
}

@media only screen and (min-width: 600px) {
  .post,
  .commentContainer {
    width: 90%;
  }
}

@media only screen and (min-width: 769px) {
  .post,
  .commentContainer {
    width: 50%;
  }
}
