.modal {
  position: fixed;
  width: 95%;
  top: 0px;
  left: 50%;
  max-width: 400px;
  transform: translateX(-50%);
  margin-top: 5px;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 2px 4px 1px lightgray;
  animation: slideDown 0.4s;
}

@keyframes slideDown {
  from {
    top: -300px;
  }

  to {
    top: 0px;
  }
}

.modalHeader {
  width: 100%;
  font-size: large;
  color: red;
  padding: 5px;
  background-color: oldlace;
  border-bottom: 2px solid orangered;
}

.modalBody {
  width: 100%;
  padding: 5px;
  color: #444;
  background-color: oldlace;
}

.modalBtnContainer {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  background-color: oldlace;
}

.modalClose {
  width: 4.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: oldlace;
  font-size: small;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: orangered;
}
