.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 115, 64);
}

.logo {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > span {
  padding: 5px;
}

.menuOpen {
  border: none;
  /* padding: 5px; */
  width: 12%;
  /* font-size: 15px; */
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.menuOpen:focus {
  outline: none;
  opacity: 0.7;
  filter: opacity(70);
}
