.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(112, 128, 144, 0.4);
  /* background-color: rgba(0, 0, 0, 0.4); */
  animation: fade 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
    filter: opacity(0);
  }

  to {
    opacity: 1;
    filter: opacity(100);
  }
}

.modalContent {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243447;
  animation: slideUp 0.4s;
}

@keyframes slideUp {
  from {
    bottom: -300px;
    opacity: 0;
    filter: opacity(0);
  }

  to {
    bottom: 0;
    opacity: 1;
    filter: opacity(100);
  }
}

.modalBtn {
  width: 100%;
  margin: 3px;
  padding: 5px;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  color: oldlace;
  border-radius: 2rem;
  font-family: inherit;
  border: 1px solid snow;
  justify-content: center;
  background: #243447;
}

.modalBtn > span {
  display: block;
  margin: 2px;
}

.modalBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 600px) {
  .modalContent {
    width: 30rem;
  }
}

@media only screen and (min-width: 769px) {
  .modalContent {
    width: 20rem;
    flex-direction: column;
  }
}
