.post {
  width: 98%;
  margin: 1px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightseagreen;
}

.postUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.profileImage {
  width: 40px;
  height: 40px;
  border: 1px solid lightcoral;
  border-radius: 50%;
}

.username {
  display: inline-block;
  padding: 5px;
}

.openOptions {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.postContent > p {
  margin: 0;
  padding: 5px;
}

.bottomIconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottomIconsContainer > a {
  color: oldlace;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background-color: coral;
  padding: 3px;
  border-radius: 15px;
}

.bottomIconsContainer > a > span {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 600px) {
  .post {
    width: 90%;
  }
}
