.post {
  width: 100%;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid slategray;
  background-color: #243447;
}

.post:hover {
  background-color: #213855;
}

.postUser {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.profileImage {
  width: 40px;
  height: 40px;
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid #243447;
}
.profileImage:hover {
  filter: brightness(80%);
}

.username {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  transition: 0.4s;
}

.username:hover {
  text-decoration: underline;
}

.openOptions {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
}

.openOptions:hover {
  background: #4f637c;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.postContent > p {
  margin: 0;
  padding: 1rem;
  font-size: 0.95rem;
}

.bottomIconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.commentBtn {
  color: oldlace;
  font-size: 13px;
  padding: 3px 5px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.commentBtn:hover {
  transition: 0.4s;
  color: white;
  background: #4f637c;
}

.commentBtn > span {
  display: block;
  margin-left: 2px;
  margin-right: 7px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 600px) {
  .post {
    width: 90%;
    border: 1px solid slategray;
  }
}

@media only screen and (min-width: 769px) {
  .post {
    width: 50%;
  }
}
