.post {
  width: 98%;
  margin: 1px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightseagreen;
}

.postUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.postUser > img {
  width: 40px;
  height: 40px;
  border: 1px solid lightcoral;
  border-radius: 50%;
}

.postUser > span {
  display: inline-block;
  padding: 5px;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.postContent > p {
  margin: 0;
  padding: 5px;
}

.bottomIconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .post {
    width: 90%;
  }
}
