.details {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightblue;
}

.profilePicture {
  width: 30%;
  height: 90px;
  margin: 10px;
  font-size: small;
  border: 1px solid lightcoral;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName,
.description {
  /* border: 1px solid; */
  padding: 5px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .profilePicture {
    width: 14%;
  }
}

@media only screen and (min-width: 769px) {
  .profilePicture {
    width: 8%;
  }
}
