* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  /* background-color: whitesmoke; */
}

.noScroll {
  overflow: hidden;
}

svg {
  pointer-events: none;
  align-self: center;
}

.postLogo {
  margin-top: 3px;
  margin-left: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.commentLogo {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  border: solid coral;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  pointer-events: none;
}

.down {
  transform: rotate(43deg);
  -webkit-transform: rotate(44deg);
}
